<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>聊天室</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">似乎您的浏览器不支持 Javascript! Websocket 是基于 Javascript 运行的。请运行 Javascript 并重新加载当前页面！
    </h2>
</noscript>
<span sec:authentication="name" id="current-user"></span>

<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2>301聊天室</h2>
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="@用户名+空格+信息 为私聊模式哟..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">发送</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
