<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css" media="screen" type="text/css" />
</head>
<!--<body style="background: url('/img/bg.jpg')">-->
<body>
<canvas id="canvas" width="1280" height="1024"> 您的浏览器不支持canvas标签，请您更换浏览器 </canvas>
<script src="/js/word.js"></script>
<div id="d" class="webdesigntuts-workshop">
    <h1>聊天室</h1>
    <form class="layui-form" action="/api/auth/signin" method="post">
        <div class="layui-form-item">
            <input class="layui-input" id="username" name="usernameOrEmail" placeholder="请输入用户名" lay-verify="required" type="text" autocomplete="off" />
        </div>
        <div class="layui-form-item">
            <input class="layui-input" id="password" name="password" placeholder="请输入密码" lay-verify="required" type="password" autocomplete="off" />
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-block" lay-submit="" lay-filter="login" style="width: 100%">登录</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="/webjars/layui/layui.js"></script>
<script>
    layui.use(['element','form','layer'],function(){
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        form.on('submit(login)', function (data) {
            var index = layer.load(0);
            var headers = {};
            headers['Content-Type'] = "application/json";
            $.ajax({
                url:data.form.action,
                type:data.form.method,
                headers: headers,
                data:JSON.stringify(data.field),//这是是要提交的参数
                dataType:'json',
                success:function(data){
                    if(data.code == 200){
                        layer.close(index);
                        // location.href="/";
                            $.ajax({
                                url: "/",
                                type: "get",
                                dataType: "html",
                                headers: {'Authorization':data.data.accessToken},
                                success: function (data) {
                                    $("body").html(data);
                                }
                            })
                    }else{
                        layer.close(index);
                        layer.msg(data.msg,{time:1000});
                    }
                },
                error:function (data) {
                    layer.close(index);
                    layer.msg("用户名或密码错误",{time:1000});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>